.modal-header {
  border-bottom: none; }
  .modal-header h5 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center; }

.modal-body label {
  font-size: 1.12rem;
  margin-bottom: 0.5rem; }

.modal-body input {
  margin-bottom: 2rem; }

.modal-footer {
  border-top: none; }
