// Benefícios
.beneficios{
	background: $purple-hard;
	color: $white;
	text-align: center;
	h2{
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
		span{
			font-weight: 700;
		}
	}
	p{
		font-size: 2rem;
		line-height: 1.2em;
		@include media-breakpoint-down(sm){
			font-size: 1.4em;
		}
		span{
			font-weight: 700;
		}
	}
	.card{
		background: transparent;
		border-color: rgba($white, .3);
		@include border-radius(10px);
		@include media-breakpoint-down(sm){
			margin-bottom: 70px;
		}
		p{
			font-size: 1.12rem;
			line-height: 1.3em;
		}
		.card-header{
			background: $purple-hard;
			margin: -40px auto 10px auto;
			padding: 0 10px;
			img{
				width: 138px;
			}
		}
		h5{
			color: $green-soft;
			font-weight: bold;
			line-height: 1em;
		}
	}
	.depoimentos{
		.media{
			background: rgba($white, 0.1);
			border: 1px solid rgba($white, .2);
			@include border-radius (10px);
			font-size: 1.12rem;
			padding: 1.9rem 3rem;
			text-align: left;
			.foto-depoimento{
				margin: 1.25rem 1.5rem 0 0;
			}
			.media-body{
				@include media-breakpoint-down(sm){
					font-size: 0.9em;
					text-align: center;
				}
				img{
					margin-bottom: 20px;
				}
				p{
					font-size: 1.12rem;
					@include media-breakpoint-down(sm){
						font-size: 0.9em;
					}
				}
			}
			h5{
				color: $green-soft;
				font-weight: bold;
				line-height: 1em;
				@include media-breakpoint-down(sm){
					font-size: 1rem;
				}
				small{
					color: $white;
				}
			}
		}
	}
}