// Cores do tema
$indigo: #6a29e4;
$purple: #4c18a7;
$purple-hard: #441498;
$purple-soft: #9366e9;
$orange: #fF370A;
$orange-hard: #ee3a3b;
$green: #26D07C;
$green-soft: #24ff9a;
$yellow: #FFFF00;
$white: #fff;
$gray: #9BA3BA;
$gray-100: #f5f5f5;
$gray-300: #85909a;
$gray-800: #51616f;
$gray-900: #3e4a55;

// Cores do tema
$theme-colors: (
	"indigo": #6a29e4,
	"purple": #4c18a7,
	"purple-hard": #441498,
	"purple-soft": #9366e9,
	"orange": #fF370A,
	"orange-hard": #ee3a3b,
	"green": #26D07C,
	"green-soft": #24ff9a,
	"yellow": #FFFF00,
	"gray": #9BA3BA,
	"gray-100": #f5f5f5,
	"gray-300": #85909a,
	"gray-800": #51616f,
	"gray-900": #3e4a55,
);

// Espaçamentos
$spacers: (
	"dobra":  7.5rem,
	"meia-dobra":  4.25rem,
	"db": 7.5rem,
	"mdb": 4.25rem,
);

// Fontes 
$font-family-sans-serif: 'Rajdhani', Arial, sans-serif !default;

$h1-font-size: 3rem;
$h2-font-size: 3rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.12rem;

$lead-font-size: 2rem;

// Alterar cor do BG
$bg-color: #f5f5f5;
$body-color: #51616f;

// Jumbotron
$jumbotron-bg: none;
$jumbotron-padding: 0rem;
$navbar-light-color: #fff;

// Navbar
$navbar-dark-color: rgba($white, .5);
$navbar-dark-hover-color: rgba($green-soft, .75);
$navbar-dark-active-color: $white; 
$navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1);

$navbar-light-hover-color: rgba($white, 1) !default;

// Dropdown
$dropdown-bg: $purple-hard;
$dropdown-border-color: none;
$dropdown-border-radius: none;
$dropdown-box-shadow: none;

$dropdown-link-color: $white;
$dropdown-link-hover-color: $green-soft;
$dropdown-link-hover-bg: none;

// Modal
$modal-backdrop-bg: $purple-hard;
$modal-backdrop-opacity: 0.95;
$modal-xl: 1140px;
.modal-xl{
	max-width: 1140px !important;
}

// Botões
$btn-border-radius: 100px !important;

// Popovers

$popover-font-size: 0.9rem;
$popover-bg: #ff7353;
$popover-box-shadow: none;
$popover-body-color: $white;
$popover-max-width: 200px;
$popover-border-color: transparent;