.clientes{
	background: $white;
	text-align: center;
	h2{
		color: $indigo;
		margin-bottom: 60px;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
			margin-bottom: 35px;
		}
		span{
			font-weight: 700;
		}
	}
	li{
		padding: 0.5rem 0.25rem;
	}
}