.comissoes{
	background: url(../images/bg-comissoes.jpg) no-repeat;
	background-color: $orange-hard;
	background-position: top right;
	background-size: auto 100%; 
	color: $white;
	h2{
		font-weight: 700;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
			text-align: center;
		}
		span{
			font-weight: 700;
		}
	}
	p{
		font-size: 2.3rem;
	}
	.conversao{
		p{
			font-size: 1rem;
		}
		.selo{
			background: url(../images/bg-selo.png) no-repeat;
			@include text-shadow;
			font-size: 1rem;
			height: 130px;
			line-height: 1.2em;
			margin-right: 3rem;
			padding: 1.9rem 2.4rem;
			text-align: center;
			width: 200px;
			@include media-breakpoint-down(sm){
				margin: 0 0 30px 0;
			}
		}
	}
}