// Customização
.customizacao{
	color: $white;
	text-align: center;
	h2{
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
		span{
			font-weight: bold;
		}
	}
	.lead{
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
	}
	.media{
		text-align: left;
		img{
			margin-right: 1.5rem;
		}
		.media-body{
			h3{
				color: $green-soft;
				font-size: 1.5rem;
				font-weight: bold;
				margin-top: 0;
				@include media-breakpoint-down(sm){
					font-size: 1.25em;
				}
			}
			p{
				font-size: 1.12rem;
				line-height: 1.2em;
				@include media-breakpoint-down(sm){
					font-size: 1em;
				}
				a{
					color: $white;
					font-weight: 700;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
	.depoimentos{
		.media{
			background: rgba($white, 0.1);
			border: 1px solid rgba($white, .2);
			@include border-radius(10px);
			font-size: 1.12rem;
			padding: 1.9rem 3rem;
			text-align: left;
			@include media-breakpoint-down(sm){
				text-align: center;
			}
			img{
				margin-right: 20px;
				@include media-breakpoint-down(sm){
					// corrigir
				}
			}
			.media-body{
				img{
					margin-bottom: 1.25rem;
				}
				p{
					font-size: 1.12rem;
					@include media-breakpoint-down(sm){
						font-size: 0.9em;
					}
				}
			}
			h5{
				color: $green-soft;
				font-weight: bold;
				line-height: 1em;
				@include media-breakpoint-down(sm){
					font-size: 1em;
				}
				small{
					color: $white;
				}
			}
		}
	}
}