.interna{
	background: $purple;
	.btn-orange-hard{
		margin-left: 10px;
	}
}

// DADOS DO CLIENTE
.dados-loja{
	text-align: center;
	.popover{
		@include media-breakpoint-down(sm){
			display: none;
		}
}
	h2{
		color: $purple-hard;
		font-size: 3rem;
		font-weight: 700;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
	}
	.orientacao{
		font-size: 1.5rem;
		font-weight: 700;
		@include media-breakpoint-down(sm){
			font-size: 1em;
		}
		.ativo{
			color: $orange;
			.item{
				background: $orange;
				border-radius: 50px;
				color: $white;
				font-size: 2rem;
				font-weight: 700;
				margin: 1rem 0;
				padding: 2px 10px;
				height: 50px;
				width: 50px;
			}
		}
		.inativo{
			color: #9ba3ba;
			.item{
				background: #9ba3ba;
				border-radius: 50px;
				color: $white;
				font-size: 2rem;
				font-weight: 700;
				margin:1rem 0;
				padding: 2px 10px;
				height: 50px;
				width: 50px;
			}
		}
		.concluido{
			a{
				color: $green;
				&:hover{
					text-decoration: none;
				}
			}
			.item{
				background: $green;
				border-radius: 50px;
				color: $white;
				font-size: 2rem;
				font-weight: 700;
				margin:1rem 0;
				padding: 2px 10px;
				height: 50px;
				width: 50px;
				a{
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
	.progresso{
		background: #9ba3ba;
		height: 5px;
		margin-top: -45px;
		z-index: -1;
	}
	.progresso-concluido{
		background: $green;
		height: 5px;
		margin-top: -45px;
		z-index: -1;
	}
	h3{
		color: $orange;
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 40px;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
		.numero{
			border: 4px solid $orange;
			border-radius: 50px;
			float: left;
			font-size: 1.5rem;
			font-weight: 700;
			margin-right: 10px;
			padding: 7px 10px;
			height: 50px;
			width: 50px;
		}
		.titulo{
			padding-top: 7px;
			text-align: left;
			@include media-breakpoint-down(sm){
				padding-top: 10px;
				text-align: left;
			}
		}
	}
	.form-dados{
		margin-bottom: 200px;
		text-align: left;
		@include media-breakpoint-down(sm){
			margin-bottom: 50px;
		}
		label{
			display: block;
			font-size: 1.12rem;
			margin: 1.8rem 0 0.5rem 0;
			width: 100%;
			@include media-breakpoint-down(sm){
				font-size: 1em;
			}
			&.error{
				color: $danger;
				font-size: 1rem;
				margin: 5px 0 0 5px;
			}
		}
		input, textarea{
			background: #fbfdff;
			border: 1px solid #ccc;
			@include border-radius(10px);
			padding: 1.4rem;
			@include media-breakpoint-down(sm){
				font-size: 1em;
			}
		}
		textarea{
			height: 160px;
		}
		.comecar{
			text-align: center;
			button{
				background: $orange-hard;
				font-size: 1.3rem;
				font-weight: 600;
				margin-top: 1.8rem;
				padding: 12px 50px;
				text-transform: uppercase;
			}
			p{
				margin-top: 5px;
			}
		}
	}
}

// ESCOLHA DE TEMAS
#selecionar-segmento{
	label{
		font-size: 1.5rem;
		padding: 0.5rem;
		text-align: right;
		@include media-breakpoint-down(sm){
			font-size: 1.12em;
			text-align: center;
		}
	}
	select{
		background: $indigo;
		@include border-radius(50px);
		color: $white !important;
		cursor: pointer;
		font-size: 1.12rem;
		font-weight: 600;
		height: 100%;
		padding: 0.75rem 1.5rem;
		text-align: left;
		text-transform: uppercase;
	}
}
.temas{
	margin-top: 50px;
	min-height: 650px;		
	.temas-segmento{
		.nav{
			.nav-link{
				padding: 0;
				@include border-radius(10px);
				@include box-shadow;
				cursor: pointer;
				display: block;
				height: 200px;
				margin: 0.8rem 0.5rem 0.5rem 0.5rem;
				padding-bottom: 10px;
				overflow: hidden;
				width: 95%;
				&.active{
					img{
						@include sem-box-shadow;
					}
				}
				img{
					height: auto;
					width: 100%;
				}
			}
			p{
				color: $gray;
				font-weight: 600;
				margin-bottom: 0;
				text-align: center;
			}
			a{
				border: 1px solid $gray;
				@include border-radius(10px);
				@include transition-rapido;
				&.tema-selecionado{
					border: 3px solid $purple;
					@include border-radius(10px);
					@include transition-rapido;
				}
			}
		}
	}
}
#ModalLoading{
	background: $white;
	.modal-content{
		background: transparent;
		border: none;
		img{
			height: 300px;
			margin: 0 auto;
			width: 400px;
		}
	}
}

.finalizacao{
	margin-bottom: 250px;
	text-align: center;
	@include media-breakpoint-down(sm){
		margin-bottom: 100px;
	}
	button{
		background: $orange-hard;
		font-size: 1.3rem;
		font-weight: 600;
		margin-top: 60px;
		padding: 12px 50px;
		text-transform: uppercase;
	}
	p{
		line-height: 1.2em;
		margin-top: 5px;
	}
}

.mensagem-sucesso{
	margin-top: 100px;
	text-align: center;
	h2{
		color: $green;
		font-size: 3em;
		line-height: 1.2em;
		margin-bottom: 32px;
		@include media-breakpoint-down(sm){
			font-size: 1.87em;
		}
	}
	h3{
		color: $purple-hard;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.2em;
		margin-bottom: 50px;
		@include media-breakpoint-down(sm){
			font-size: 1.87em;
		}
	}
	p{
		color: $gray;
		font-size: 1.5rem;
		line-height: 1.2em;
		margin-bottom: 100px;
		@include media-breakpoint-down(sm){
			font-size: 1.1em;
		}
	}
	a{
		background: $orange-hard;
		font-size: 1.3rem;
		font-weight: 600;
		margin-top: 60px;
		padding: 12px 50px;
		text-transform: uppercase;
	}
}
.mensagem-erro{
	margin-top: 100px;
	text-align: center;
	h2{
		color: $orange;
		font-size: 3em;
		line-height: 1.2em;
		margin-bottom: 32px;
		@include media-breakpoint-down(sm){
			font-size: 1.87em;
		}
	}
	h3{
		color: $purple-hard;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.2em;
		margin-bottom: 50px;
		@include media-breakpoint-down(sm){
			font-size: 1.87em;
		}
	}
	p{
		color: $gray;
		font-size: 1.5rem;
		line-height: 1.2em;
		margin-bottom: 100px;
		@include media-breakpoint-down(sm){
			font-size: 1.1em;
		}
	}
	a{
		background: $orange-hard;
		font-size: 1.3rem;
		font-weight: 600;
		margin-top: 60px;
		padding: 12px 50px;
		text-transform: uppercase;
	}
}