.duvidas{
	background: $gray-100;
	h2{
		color: $indigo;
		font-weight: 700;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
	}
	.card{
		background: $white;
		margin-bottom: 1rem;
		border-bottom: 1px solid rgba($black, 0.125) !important;
		@include border-radius(10px);
		@include transition;
		.card-header{
			background: transparent;
			border-bottom: none;
			@include border-radius(10px);
			button{
				color: $green !important;
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1.2em;
				text-align: left;
				text-decoration: none;
				white-space: normal;
				@include media-breakpoint-down(sm){
					font-size: 0.9em;
				}
			}
			.collapsed{
				color: $gray-900 !important;
			}
		}
		.card-body{
			background: transparent;
			font-size: 1.12rem;
			padding: 0 2rem 2rem 2rem;
			@include media-breakpoint-down(sm){
				font-size: 1em;
			}
		}
	}
	.duvida-ativa{
		box-shadow: 5px 5px 15px rgba($black, 0.1) !important;
	}
}