.equipe{
	background: url(../images/bg-especialistas.jpg) no-repeat;
	background-color: $orange;
	background-position: top right;
	background-size: auto 100%; 
	color: $white;
	@include media-breakpoint-down(sm){
		background-position: top left;
		text-align: center;
	}
	h2{
		font-weight: 700;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
	}
	.lead{
		font-size: 2rem;
		line-height: 1.2em;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
		span{
			font-weight: 700;
		}
	}
	.seguranca{
		font-size: 1rem;
	}
	.selo{
		background: url(../images/bg-selo.png) no-repeat;
		@include text-shadow;
		font-size: 1rem;
		height: 130px;
		line-height: 1.2em;
		margin-left: 3rem;
		padding: 1.9rem 2.4rem;
		text-align: center;
		width: 200px;
		@include media-breakpoint-down(sm){
			margin: 0;
		}
	}
}