footer{
	border-bottom: 5px solid #fd3334;
	color: $white;
	font-size: 0.9rem;
	hr{
		background: $white;
		height: 0px;
	}
	.nav-auxiliar{
		background: $gray-800;
		.marca-footer{
			@include media-breakpoint-down(sm){
				margin-bottom: 30px;
				text-align: center;
			}
		}
		ul{
			padding-left: 0;
			li{
				font-weight: 700;
				list-style: none;
				margin-top: 20px;
				a{
					color: $white;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				ul{
					padding-left: 40px;
					li{
						font-weight: 300 !important;
						margin: 0 0 0 -40px;
						&:before{
							content: " » ";
						}
					}
				}
			}
		}
	}
	.social{
		text-align: center;
		@include media-breakpoint-down(sm){
			margin-bottom: 30px;
		}
		a{
			background: $white;
			border-radius: 50px;
			color: $gray-900;
			display: inline-block;
			line-height: 40px;
			height: 40px;
			margin: 0 5px;
      width: 40px; 
      text-align: center;
	      -webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
      &:hover{
      	background: rgba($black, .1);
      	color: $white;
      }
    }
	}
	.back-top{
		background: $gray-900;
		border-radius: 100px;
		color: $white;
		float: right;
		height: 40px;
		padding: 9px 14px;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		width: 40px;
		&:hover{
			background: $white;
			color: $gray-900;
		}
		.fas{
			font-size: 1.5em;
		}
	}
	.newsletter{
		font-weight: 700;
		padding-top: 20px;
		p{
			margin-bottom: 0.5rem;
		}
		.alert{
			font-weight: 400;
			margin-top: 1rem;
		}
		form{
			background: $white;
			@include border-radius(100px);
			input{
				background: none;
				border: none;
				width: 100%;
				&:focus{
					background: none;
				}
			}
			button{
				background: $green;
				border: 2px solid $white;
				font-weight: 700;
				text-transform: uppercase;
				&:hover{
					background: $green-soft;
					border: 2px solid $white;
					color: $gray-900;
					@include transition;
				}
			}
		}
	}
	.copyright{
		background: $gray-900;
		padding-top: 30px;
		text-align: right;
		@include media-breakpoint-down(sm){
			font-size: 0.8rem;
		}
		.selo-magento{
			vertical-align: bottom;
	    display: table-cell;
		}
		.copy, .cnpj{
			margin-top: 45px;
		}
		.cnpj{
			text-align: left;
		}
	}
}