.funcionalidades{
	background: url(../images/tela-computador.jpg) no-repeat;
	background-color: $gray-100;
	background-position: left 270px;
	background-size: auto 65%;
	@include media-breakpoint-down(sm){
		background-position: left bottom;
		background-size: 90%;
		padding-bottom: 370px;
	}
	h2{
		color: $indigo;
		font-weight: 400;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
		u{
			border-bottom: 2px solid $indigo;
			text-decoration: none;
		}
		span{
			font-weigh: 700;
		}
	}
	img{
		margin-right: 30px; 
	}
	h3{
		color: $indigo;
		font-weight: 700;
		margin-top: 15px;
	}
	p{
		font-size: 1.12rem;
		line-height: 1.2em;
	}
}