// Conversões
.conversao{
	margin-top: 25px;
	text-align: center;
	.btn{
		@include btn-box-shadow;
		font-size: 1.3rem;
		font-weight: 600;
		padding: 15px 40px;
		text-transform: uppercase;
		@include media-breakpoint-down(sm){
			margin: 0;
		}
	}
	.ou{
		background: rgba($white, 0.1);
		@include border-radius(100px);
		height: 40px;
		margin: 12px 22px;
		padding: 11px !important;
		width: 40px;
	}
	.seguranca{
		font-size: 0.8rem;
		font-style: italic;
		line-height: 1.1em;
		margin-top: 15px;
		text-align: center;
	}
}

.wrapper{
  width: 100vw;
  min-width: 100vw;
  overflow-x: hidden;
  border-bottom: 3px solid $purple;
  overflow-x: hidden;

  &.open{
    overflow: hidden;
    height: 100vh;
  }
}