header{
	color: $white;
	@include transition-ease;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	&.fixed-top{
		background: rgba($purple-hard, 0.9);
		@include transition-ease;
	}
	&.open{
    background: rgba($purple-hard, 0.9);
    @include transition-ease;
    @include media-breakpoint-down(md){
    	background: rgba($purple-hard, 0.9);
  		height: auto !important;
    }
  }
	.navbar{
		background: transparent;
		@include media-breakpoint-down(sm){
			padding: 0.5rem 0;
		}
		.navbar-brand{
			margin-right: 0;
			padding-top: 0;
		}
		.navbar-toggler{
			border: none;
		}
		.nav-item{
			border-bottom: 2px solid transparent;
			&:hover{
				border-bottom: 2px solid $green-soft;
				@include media-breakpoint-down(md){
					border-bottom: none;
				}
			}
			.nav-link{
				font-size: 1rem;
				padding: 0.5rem;
				@include media-breakpoint-down(md){
					font-size: 1.2rem;
					padding: 1rem 0.5rem;
				}
				&:hover{
					color: $white;
					@include transition-ease;
				}
				&:active{
					background: none;
					@include transition-ease;
				}
			}
		}
	}
	.menu{
		.dropdown{
			&:before{
	      content: " ";
	      width: 12px;
	      height: 12px;
	      float: left;
	      position: absolute;
	      top: 10px;
	      right: 0;
	     }
	     @include media-breakpoint-up(lg){
	     	&:hover > .dropdown-menu{
	     		display: block;
        }
	     }
   		.dropdown-item{
    		color: $white;
    		padding: 0.3rem 0.65rem;
    		@include transition-ease;
    		@include media-breakpoint-down(md){
    			padding: 0.3rem 1.5rem;
    		}
    		&:hover{
    			color: $green-soft;
    			padding-left: 0.85rem;
    		}
    		&:active{
    			background: none;
    		}
    		&.active{
    			background: transparent;
    		}
      }
    	.dropdown-menu{
    		background: transparent;
				border: 0;
        overflow: hidden;
        padding: 0.4rem 0 0 0 !important;
        position: absolute;    
        min-width: 300px;
        padding: 0;
        @include transition;
        width: 100%;
        @include media-breakpoint-down(md){
        	position: relative; 
        }
			}
  	}
	}
	.conversao-topo{
		ul{
			display: flex;
			padding: 10px 0 0 0;
			.nav-item{
				border-bottom: none;
				list-style: none;
				&:hover{
					border-bottom: none;
				}
				.dropdown{
					@include media-breakpoint-up(lg){
						&:hover > .dropdown-menu{
							@include transition;
				     	display: block;
				    }
				  }
			  }
			  .dropdown-menu{
			  	@include border-radius-bottom(10px);
			  	left: 10px;
			  	.dropdown-item{
					  .fa-phone{
					    @include rotate;
						}
			  	}
			  }
				.btn{
					color: $white;
					font-size: 1rem;
					font-weight: 400;
					text-transform: uppercase;
				}
				#BtnTesteTopoHome{
					@include btn-topo-box-shadow;
					&:active{
						box-shadow: none;
					}
				}
				#BtnLigueTopoHome{
					border: 2px solid $white;
					margin-right: 10px;
					text-transform: none;
					@include transition;
					&:hover{
						background: $green-soft;
						border: 2px solid $green-soft;
						color: $purple-hard;
						@include transition;
					}
				}
			}
		}
	}
}

.jumbotron{
	color: $white;
	margin-top: 200px;
	padding-bottom: 90px;
	@include media-breakpoint-down(sm){
		padding-bottom: 0;
		margin-top: 120px;
		text-align: center;
	}
	h1{
		font-weight: 300;
		line-height: 1.1em;
		margin-bottom: 30px;
		@include media-breakpoint-down(sm){
			font-size: 1.87rem;
			line-height: 1.2em;
		}
		span{
			font-weight: 500;
		}
	}
	p{
		font-size: 1.5rem;
		line-height: 1.2em;
		@include media-breakpoint-down(sm){
			font-size: 1.12rem;
			line-height: 1.3em;
			font-weight: 300;
		}
	}
	.conversao{
		p{
			font-size: 1rem;
		}
	}
	.selo{
		background: url(../images/bg-selo.png) no-repeat;
		@include text-shadow;
		font-size: 1rem;
		height: 130px;
		line-height: 1.2em;
		margin: -1.8rem 0 0 3rem;
		padding: 1rem 2.4rem;
		text-align: center;
		width: 200px;
		@include media-breakpoint-down(sm){
			margin: 0;
		}
		.numero{
			font-size: 3.7rem;
		}
		.anos{
			font-size: 1.8rem;
		}
	}
}
.background{
	background: url(../images/bg-topo.jpg) no-repeat;
	background-position: top center;
	background-size: auto 100%;
	height: 738px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
	@include media-breakpoint-down(sm){
		background-size: cover;
		background-position: top left;
		height: 900px;
	}
}