.infraestrutura{
	h2{
		color: $indigo;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
			text-align: center;
		}
	}
	.lead{
		font-size: 2.3rem;
		line-height: 1.2em;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
	}
	.media{
		margin-top: 30px;
		@include media-breakpoint-down(sm){
			margin-top: 10px;
		}
		img{
				margin-right: 30px; 
			}
		p{
			font-size: 1.5rem;
			line-height: 1.3em;
			@include media-breakpoint-down(sm){
				font-size: 1.3em;
			}
		}		
	}
	span{
		font-weight: 700;
	}
}