.magento{
	background: url(../images/bg-magento.jpg) no-repeat;
	background-color: $orange-hard;
	background-position: top right;
	background-size: auto 100%; 
	color: $white;
	@include media-breakpoint-down(sm){
		text-align: center;
	}
	h2{
		font-weight: 700;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
	}
	.lead{
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.3em;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
	}
	.seguranca{
		font-size: 1rem;
	}
}