@mixin text-shadow{ 
	text-shadow: 2px 3px 10px rgba($black, .2); 
}

@mixin box-shadow{
	-webkit-box-shadow: 2px 3px 10px 0px rgba($black, .2);
	-moz-box-shadow: 2px 3px 10px 0px rgba($black, .2);
	box-shadow: 2px 3px 10px 0px rgba($black, .2);
}
	@mixin sem-box-shadow{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	@mixin btn-topo-box-shadow{
		-webkit-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.3);
	}
	@mixin btn-box-shadow{
		-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.3);
		box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.3);
	}
	@mixin box-shadow-depoimento{
		-webkit-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.2);
	}

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  -o-border-radius: $radius !important;
  border-radius: $radius !important;
}
	@mixin border-radius-top ($radius) {
		-webkit-border-top-left-radius: $radius;
		-webkit-border-top-right-radius: $radius;
		-moz-border-radius-topleft: $radius;
		-moz-border-radius-topright: $radius;
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	}
	@mixin border-radius-bottom ($radius) {
		-webkit-border-bottom-left-radius: $radius;
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-radius-bottomleft: $radius;
		-moz-border-radius-bottomright: $radius;
		border-bottom-left-radius: $radius;
		border-bottom-right-radius: $radius;
	}

@mixin transition{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
	@mixin transition-ease{
		-webkit-transition: ease 0.3s all;
		-moz-transition: ease 0.3s all;
		-ms-transition: ease 0.3s all;
		-o-transition: ease 0.3s all;
		transition: ease 0.3s all;
	}

	@mixin transition-rapido{
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

@mixin rotate{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}