// Modal
#ModalExpert{
	color: $white;
	.modal-content{
		border: none;
		.modal-header{
			border-bottom: none;
			text-align: center;
			h5{
				font-size: 3rem;
				font-weight: 400;
				line-height: 1.2em;
				margin-top: 5rem;
			}
			p{
				font-size: 1.2rem;
				margin-top: 1rem;
			}
			button{
				background: rgba($white, 1);
				@include border-radius(50px);
				height: 45px;
				padding: 0 !important;
				position: absolute;
				right: 0;
				top: 0;
				width: 45px;
				span{
					color: $orange;
					font-size: 3rem;
					font-weight: 300;
				}
			}
		}
		.modal-body{
			.form-row{
				margin-bottom: 1.8rem;
				label{
					font-size: 1.12rem;
					margin-bottom: 0.5rem;
					&.error{
						color: $warning;
						font-size: 1rem;
						margin: 5px 0 0 5px;
					}
				}
				input, textarea{
					border: none;
					@include border-radius(10px);
					padding: 1.5rem;		
				}
				textarea{
					height: 160px;
				}
			}
		}
		.modal-footer{
			border-top: none;
			button{
				@include btn-box-shadow;
				font-size: 1.3rem;
				font-weight: 600;
				padding: 15px 40px;
				text-transform: uppercase;
			}
		}
	}
}