// Planos
.planos{
	text-align: center;
	h2{
		color: $indigo;
		font-weight: 400;
		line-height: 1.2em;
		margin-bottom: 1.5rem;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
		span{
			font-weight: 700;
		}
	}
	.lead{
		color: $black;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.2em;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
	}
	.tipos-planos{
		.card{
			background: $gray-100;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			color: $black;
			.card-header{
				background: $indigo;
				border-bottom: 5px solid $purple-hard;
				@include border-radius-top(10px);
				color: $white;
				font-size: 1.5rem;
				text-align: center;
				text-transform: uppercase;
			}
			.card-body{
				background: $white;
				font-size: 1.12rem;
				p{
					font-size: 0.9rem;
					margin-bottom: 0;
				}
				.preco{
					color: $indigo;
					font-size: 4.5rem;
					font-weight: 700;
					line-height: 2rem;
					margin: 2rem 0 3rem 0;
					small{
						color: $black;
						font-size: 0.9rem;
						float: right;
					}
				}
			}
			.card-footer{
				background: none;
				text-align: left;
				.btn{
					bottom: 0px;
					font-size: 1.12rem;
					font-weight: 500;
					margin-top: -45px;			
					text-transform: uppercase;
					width: 100%;
				}				
				dl{
					dt, dd{
						margin: 0.3rem 0;
					}
					font-size: 1rem;
					margin-bottom: 0;		
					dt{
						font-weight: 400;					
					}
					dd{
						font-weight: 700;
						text-align: right;
					}
				}
			}
		}
	}
	.separador-planos{
		height: 0;
		margin: 1.9rem 0;
		.foguete{
			backgorund: $white;
			height: 31px;
			position: absolute;
			right: 50px;
			top: -15px;
			width: 64px;
		}
		hr{
			border: 1px dashed #d5d5d5;
		}
	}
	.recursos-planos{
		margin-bottom: 2rem;
		.card{
			@include border-radius(10px);
			.card-body{
				background: transparent;
				font-size: 1.12rem;
				text-align: left;
				p{
					line-height: 1.2em;
					.nome-plano,
					.numero-funcionalidades{
						color: $indigo;
						text-transform: uppercase;
					}
					.nome-plano{
						font-weight: 700;
					}
				}
			}
			.card-footer{
				background: transparent;
				border-top: none;
				color: $black;
				.btn{
					border: 2px solid $green;
					font-size: 1.12rem;
					font-weight: 600;
					text-transform: uppercase;
					width: 100%;
				}
			}
		}
	}
	.btn-vermais{
		color: $white !important;
		font-size: 1.12rem;
		font-weight: 600;
		padding: 0.75rem 1.5rem;
		text-align: left;
		text-transform: uppercase;
		i{
			padding-left: 100px;
		}
	}
	.frase-convencimento{
		margin-top: 60px;
		h3{
			color: $black;
			line-height: 1.2em;
			@include media-breakpoint-down(sm){
				font-size: 1.12em;
			}
		}
		a{
			color: $gray-900;
			font-weight: 700;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}