// Razões para contratar
.razoes{
	background: $orange-hard;
	color: $white;
	h2{
		font-weight: 700;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
	}
	ul{
		li{
			font-size: 1.5rem;
			line-height: 1.2em;
			margin-bottom: 1.9rem;
			@include media-breakpoint-down(sm){
				font-size: 1.12em;
			}
			.numero{
				border: 4px solid $yellow;
				border-radius: 50px;
				color: $yellow;
				float: left;
				font-size: 2rem;
				font-weight: 500;
				margin-right: 1.9rem;
				padding-top: 12px;
				height: 60px;
				text-align: center;
				width: 60px;
			}
			span{
				font-weight: 700;
			}
		}
	}
}