.recursos{
	background: $white;
	color: $black;
	text-align: center;
	h2{
		color: $indigo;
		font-weight: 700;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
	}
	.nav-pills{
		border: 1px solid #d5d5d5;
		border-radius: 10px;
		box-shadow: 5px 5px 15px rgba($black, 0.1) !important;
		.nav-link{
			background: $white;
			border-bottom: 1px solid #d5d5d5;
			border-radius: 0;
			color: $gray-300;
			padding: 1rem 2rem;
			text-align: left;
			@include transition;
			h4{
				font-size: 1.3rem;
				font-weight: 700;
				margin: 0;
			}
			p{
				line-height: 1.2em;
				margin-bottom: 0;
			}
		}
		.show,
		.active{
			color: $white;
			background: $indigo;
			border-bottom: 5px solid $purple-hard;
			&:first-child{
				border-top: none;
				-webkit-border-top-left-radius: 10px;
				-webkit-border-top-right-radius: 10px;
				-moz-border-radius-topleft: 10px;
				-moz-border-radius-topright: 10px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			&:last-child{
				-webkit-border-bottom-right-radius: 10px;
				-webkit-border-bottom-left-radius: 10px;
				-moz-border-radius-bottomright: 10px;
				-moz-border-radius-bottomleft: 10px;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
			}
		}
	}
	.card{
		border: none;
		color: $black;
		font-size: 1.12rem;
		h5{
			color: $indigo;
			font-weight: bold;
		}
		p{
			font-size: 1.12rem;
			font-weight: 400;
			line-height: 1.1em;
			margin-bottom: 0;
			span{
				font-weight: 700;
			}
		}
	}
	.btn{
		font-size: 1.3rem;
		font-weight: 600;
		text-transform: uppercase;
	}
}