.situacao-cliente{
	background: $gray-100;
	h2{
		color: $indigo;
		font-weight: 700;
		margin-bottom: 60px;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.8em;
		}
	}	
	.btn-situacao{
		box-shadow: none;
		font-size: 1.3rem;
		font-weight: 600;
		margin: 0 7px;
		padding: 10px 30px;
		text-transform: uppercase;
		@include media-breakpoint-down(sm){
			margin-bottom: 10px;
		}
		.fas{
			color: $purple-soft;
			font-size: 0.9rem;
		}
		&:hover > .fas{
			color: $green-soft;
		}
	}
	.active > .fas{
		color: $green-soft;
	}
	h3{
		color: $orange;
		font-size: 2rem;
		font-weight: 700;
		margin: 3.75rem 0 3rem 0;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
	}
	.tab-content{
		margin-bottom: 60px;
		li{
			font-size: 1.5rem;
			line-height: 1.3em;
			margin-bottom: 1.8rem;
			&:last-child{
				margin-bottom: 0;
			}
			img{
				margin-right: 1rem;
			}
			@include media-breakpoint-down(sm){
				font-size: 1.12em;
			}
		}
	}
	.frase-convencimento{
		font-size: 2rem;
		font-weight: 700;
		line-height: 1.2em;
		margin-bottom: 50px;
		text-align: center;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
		}
	}
	.conversao{
		.ou{
			background: rgba($black, 0.1);
		}
		p{
			font-size: 1rem;
		}
	}
}